kalthailand-api-elife/src/main/resources/wsdl/tmc_soap_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceiveDataJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stringJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveDataJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveDataJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveDataJSON_IMG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stringJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveDataJSON_IMGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveDataJSON_IMGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveDataJSON_IMG_TMC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stringJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveDataJSON_IMG_TMCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveDataJSON_IMG_TMCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceivePDFJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stringJSON" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceivePDFJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceivePDFJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveDataJSONSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveDataJSON" />
  </wsdl:message>
  <wsdl:message name="ReceiveDataJSONSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveDataJSONResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveDataJSON_IMGSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveDataJSON_IMG" />
  </wsdl:message>
  <wsdl:message name="ReceiveDataJSON_IMGSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveDataJSON_IMGResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveDataJSON_IMG_TMCSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveDataJSON_IMG_TMC" />
  </wsdl:message>
  <wsdl:message name="ReceiveDataJSON_IMG_TMCSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveDataJSON_IMG_TMCResponse" />
  </wsdl:message>
  <wsdl:message name="ReceivePDFJSONSoapIn">
    <wsdl:part name="parameters" element="tns:ReceivePDFJSON" />
  </wsdl:message>
  <wsdl:message name="ReceivePDFJSONSoapOut">
    <wsdl:part name="parameters" element="tns:ReceivePDFJSONResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="ReceiveDataJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns string format Json :  Receive string format Json </wsdl:documentation>
      <wsdl:input message="tns:ReceiveDataJSONSoapIn" />
      <wsdl:output message="tns:ReceiveDataJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDataJSON_IMG">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns string format Json :  Receive string format Json </wsdl:documentation>
      <wsdl:input message="tns:ReceiveDataJSON_IMGSoapIn" />
      <wsdl:output message="tns:ReceiveDataJSON_IMGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDataJSON_IMG_TMC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns string format Json :  Receive string user,string pass and string format Json </wsdl:documentation>
      <wsdl:input message="tns:ReceiveDataJSON_IMG_TMCSoapIn" />
      <wsdl:output message="tns:ReceiveDataJSON_IMG_TMCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePDFJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns string format Json :  Receive string format Json </wsdl:documentation>
      <wsdl:input message="tns:ReceivePDFJSONSoapIn" />
      <wsdl:output message="tns:ReceivePDFJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveDataJSON">
      <soap:operation soapAction="http://tempuri.org/ReceiveDataJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDataJSON_IMG">
      <soap:operation soapAction="http://tempuri.org/ReceiveDataJSON_IMG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDataJSON_IMG_TMC">
      <soap:operation soapAction="http://tempuri.org/ReceiveDataJSON_IMG_TMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePDFJSON">
      <soap:operation soapAction="http://tempuri.org/ReceivePDFJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveDataJSON">
      <soap12:operation soapAction="http://tempuri.org/ReceiveDataJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDataJSON_IMG">
      <soap12:operation soapAction="http://tempuri.org/ReceiveDataJSON_IMG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDataJSON_IMG_TMC">
      <soap12:operation soapAction="http://tempuri.org/ReceiveDataJSON_IMG_TMC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePDFJSON">
      <soap12:operation soapAction="http://tempuri.org/ReceivePDFJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://58.137.157.11:8011/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://58.137.157.11:8011/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>